.wrapper {
	height: 1000px;
	width: 1000px;
	display: flex;
	background-color: burlywood;
	position: relative;
	flex-wrap: wrap;
	border: 5px solid brown;
	font-size: 80px;
	text-align: center;

}

.board {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	height: 800px;
	width: 800px;
	margin: 100px 0px 0px 100px;

}

.block {
	height: 100px;
	width: 100px;
	position: relative;

}

.column1 {
	background-color: #fff;
	width: 100px;
	height: 800px;
	display: flex;
	position: relative;
	flex-wrap: wrap;

}

.column2 {
	background-color: #fff;
	height: 800px;
	width: 100px;
	display: flex;
	position: relative;
	flex-wrap: wrap;
	flex-direction: column-reverse;
}

.block:nth-of-type(odd) {
	background-color: gray;
}

.numbers {
	height: 800px;
	width: 20px;
	position: absolute;
	background-color: burlywood;
	flex-direction: column;
	display: flex;
	justify-content: space-around;
	margin: 100px 0px 0px 80px;

}
.letters {
	height: 30px;
	width: 800px;
	position: absolute;
	background-color: burlywood;
	display: flex;
	justify-content: space-around;
	margin: 80px 0px 0px 100px;
}

.num, .let {
	font-size: 20px;
	font-weight: bold;
}